$online-color: #57cbde;
$offline-color: #6a6a6a;
$in-game-color: #90ba3c;

.online {
  color: $online-color !important;
}

.offline {
  color: $offline-color !important;
}

.in-game {
  color: $in-game-color !important;
}

.online-border {
  border: 2px solid $online-color;
}

.offline-border {
  border: 2px solid $offline-color;
}

.in-game-border {
  border: 2px solid $in-game-color;
}

.centered {
  display: inline-block;
  margin: auto;
}

.divider {
  border-bottom: 1px solid #989698;
}

.pane {
  overflow-y: hidden;
}

.chat-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding-bottom: 90px;
}

.chat-window-content {
  margin-top: 25px;
  position: relative;
  overflow-y: auto;
  flex: 1;

  ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    margin-top: 20px;
  }

  li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    padding: 5px;

    > div {
      display: inline-block;
      color: #fff;
      border-radius: 10px;
      padding: 5px;
      -webkit-user-select: text;

      > small {
        display: block;
      }
    }

    &.their-message {
      text-align: left;

      > div {
        background-color: #03c03c;
        margin-left: 20px;
        margin-right: 60px;
      }
    }

    &.our-message {
      text-align: right;

      > div {
        background-color: #779ecb;
        margin-right: 20px;
        margin-left: 60px;
      }
    }
  }
}

.message-composer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  height: 87px;
}
