$brand-color-red: #eb4432;
$brand-color-yellow: #ebaa32;
$online-color: #57cbde;
$offline-color: #6a6a6a;
$in-game-color: #90ba3c;

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(fonts/Lobster.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #b0aeb0;
}

h1 {
  &.logo {
    font-size: 80px;
    overflow: visible;
    color: $brand-color-red;
    text-shadow: 2px 2px 0 #888888;
  }
}

dialog {
    padding: 0;
    border: 1px solid #bebebe;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    overflow: hidden;
    z-index: 9001;
    margin-top: 100px;

    > .content {
      padding: 20px;

      > input {
        width: 200px;
      }
    }

    &::backdrop {
        background: rgba(0,0,0,0.2);
    }
}

button {
  .fa {
    color: #737475;
  }
}

.online {
  color: $online-color !important;
}

.offline {
  color: $offline-color !important;
}

.in-game {
  color: $in-game-color !important;
}

.online-border {
  border: 2px solid $online-color;
}

.offline-border {
  border: 2px solid $offline-color;
}

.in-game-border {
  border: 2px solid $in-game-color;
}

.brand {
  font-family: 'Lobster', cursive;
}

.badge {
  margin-left: 5px;
  font-size: 11px;
  background-color: $in-game-color;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}

.centered {
  display: inline-block;
  margin: auto;
}

.toolbar-header {
  border-bottom: 1px solid #989698;
}

.toolbar-actions {
  padding: 3px;
}

.pane {
  border-left: 1px solid #989698;
}

.pane, .pane-sm {
  overflow-y: hidden;
}

.pane-sm {
  position: relative;
  flex: 1;
}

.friendslist {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  // EFriendRelationship.RequestRecipient
  .relationship-2 {
    border-right: 5px solid $brand-color-red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lighten(#f5f5f4, 10%);
  }

  // EFriendRelationship.RequestInitiator
  .relationship-4 {
    border-right: 5px solid $brand-color-yellow;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lighten(#f5f5f4, 10%);
  }
}

.friendslist-content {
  position: relative;
  overflow-y: auto;
  flex: 1;
}

.tab-item {
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding-bottom: 90px;
}

.chat-window-content {
  margin-top: 26px;
  position: relative;
  overflow-y: auto;
  flex: 1;

  a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    margin-top: 10px;
  }

  li {
    list-style: none;
    display: block;
    padding: 2px;

    > div {
      display: inline-block;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
      word-break: break-word;

      * {
        -webkit-user-select: text;
      }

      > p {
        margin: 0;
        padding: 0;
      }

      > small {
        display: block;
      }
    }

    &.their-message, &.their-trade-request {
      text-align: left;

      > div {
        background-color: #5eb63b;
        margin-left: 10px;
        margin-right: 60px;
      }
    }

    &.their-trade-request {
      > div {
        background-color: #800080;
      }
    }

    &.our-message, &.our-trade-request {
      text-align: right;

      > div {
        background-color: #7da0c9;
        margin-right: 10px;
        margin-left: 60px;
      }
    }

    &.our-trade-request {
      > div {
        background-color: #800080;
      }
    }
  }
}

.message-composer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  height: 87px;
}
